<!-- Dynamically building the view for the classifications -->
<link href= "/public/css/styles.css" rel="stylesheet" type="text/css" />


<!-- Content Heading for classification view -->
<% if (title) { %>
    <h1 id="title"><%= title %></h1>
    <% } else {
      res.redirect('')
    } %>
    

<!-- Message block for notices and error handling -->
<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<!-- Vehicles Display code block -->
<% if(data.length > 0) { %>
<ul id="inv-display">
<% 
    // Note: Each element from the array must be in its own ejs block.
    // Combining more than one element will result in a parse error

data.forEach(vehicle => { %>
<li class="cards">
    <div class="card">
        <a href="../../inv/detail/<%=vehicle.inv_id %>" title="View <%= vehicle.inv_make %> <%= vehicle.inv_model %> details">
            <div class="thumbnailBox">
                <img src="<%= vehicle.inv_image %>" alt = "Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %> on CSE Motors" class="thumbnail"/>
            </div>
        </a>

        <div class="namePrice">
            <h2>
                <a href="../../inv/detail/<%= vehicle.inv_id %>" title="View <%= vehicle.inv_make %> <%= vehicle.inv_model %> details"> <%= vehicle.inv_make %> <%= vehicle.inv_model %></a>
            </h2>

            <span>$<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %></p></span>
            
            <h4>Color: <%= vehicle.inv_color%></h4>
            <h4>Miles: <%= vehicle.inv_miles%></h4>
            </div>
    </div>
</li>


<% }) %>

</ul>


<% } else { %>
    // Display 'no vehicles found' message
    <p class="notice"> Sorry, no matching vehicles could be found. </p>

<% } %>